@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/index.css">

<div class="location-input-container">
    <img src="icons/sunny.png" class="sun-icon"/>
    <input type="text" class="location-input" id="location-input">
    <div class="location-autocomplete card" id="location-autocomplete">
    </div>
</div>

<div class="forecast-description card" id="forecast-description"></div>

<div class="forecast-view card scrollbar scrollbar-x" id="forecast-view">
</div>


<div class="forecast10-view card" id="forecast10-view">
</div>

@section Scripts{
    <script src="~/js/index.js"></script>
}