@{
    ViewData["Title"] = "Home Page";
}


<div class="location-input-container">
    <input type="text" class="location-input" id="location-input">
    <div class="location-autocomplete" id="location-autocomplete">
    </div>
</div>

<div class="forecast-view" id="forecast-view">
</div>

<div class="forecast10-view">
</div>

@section Scripts{
    <script src="~/js/index.js"></script>
}