
.forecast-view{
    display: flex;
}

.weather{
    margin: 0 20px;
}

.forecast10-view{
    display: flex;
    flex-direction: column;
}

.weather10{
    display: flex;
}

.weather-icon{
    max-width: 30px;
    max-height: 30px;
    height: auto;
    width: auto;
}