*{
  margin: 0;
  padding: 0;
}

html {
  font-family: "Arial";
  font-weight: 500;
  color: #eeeeee;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #32b9ff;
}


.hidden{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}