*{
  margin: 0;
  padding: 0;
}

html {
  font-family: "Arial";
  font-weight: 500;
  color: #eeeeee;
}

@media (min-width: 768px) {
  html {
    font-size: 22px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background: #32b9ff;
}


.hidden{
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

.card{
  background: #00000055;
  border-radius: 20px;
  padding: 20px 20px;
  margin: 40px 0;
}


.scrollbar{
  scrollbar-width: thin;
  
}


.scrollbar::-webkit-scrollbar{
  background-color: transparent;
  padding: 2px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

